{% extends "mailings/base.html" %}
{% block content %}
<div class="ricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="center">
        Список имеющихся рассылок
    </h1>
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.pk }}</h4>
                </div>
                <div class="card-body">
                    <h6>Дата первой рассылки:</h6>
                    <p>{{ object.date_time }}</p>
                    <h6>Периодичность:</h6>
                    <p class="card-text">{{ object.periodicity }}</p>
                    <h6>Статус:</h6>
                    <p class="card-text">{{ object.status }}</p>

                    {% if user.is_authenticated %}
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-success"
                           href="{% url 'mailings:settings_detail' object.pk %}">Просмотр</a>
                        {% if user.is_superuser or user == object.owner %}
                        <a type="button" class="btn btn-sm btn-outline-warning"
                           href="{% url 'mailings:settings_update' object.pk %}">Редактирование</a>
                        <a type="button" class="btn btn-sm btn-outline-danger"
                           href="{% url 'mailings:settings_delete' object.pk %}">Удаление</a>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if user.is_authenticated %}
<div style="text-align: center">
    <a class="btn btn-outline-primary" href="{% url 'mailings:settings_create' %}">Создать рассылку</a>
</div>
{% endif %}

{% endblock %}