{% extends 'mailings/base.html' %}
{% block content %}
<div class="ricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="center">
        Список имеющихся cтатей
    </h1>


<div class="container">
<div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">{{object.title}}</h2>
                </div>
                <div class="card-body">
                    <a href="{% url 'blogs:blog_view' object.pk%}" type="button col-4"
                       class="btn btn-lg btn-block btn-outline-primary">Перейти к статье</a>

                 </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    </div>

<div class="col-12 text-center">
            {% if perms.blogs.add_blog%}
            <div style="text-align: center">
    <a class="btn btn-outline-primary" href="{% url 'blogs:blog_create' %}">Добавить статью</a>
</div>
            {% endif %}
</div>
{% endblock %}